@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
    background: #556270;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Roboto;
    font-size: 1.2vw;
    margin: 0;    
}

.card {
    background-color: white;
    display: flex;
    width: 50%;
    height: 50%;
    border-radius: 30px;
    align-items: center;   
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.box {
    background: #F0C27B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 35%;
    height: 60%;
    border-radius: 20px;
    position: absolute;
    left: -5%;
}

.content {
    margin-left: 40%;
    padding-right: 5%; 
}

h3 {
    font-size: 2vw;
    color: black;
}

.date {
    font-weight: 500;
}

button {
    color: white;
    background-color: rgb(62, 52, 138);
    border: none;
    font-family: Roboto;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2vw;
    border-radius: 50% 20% / 10% 40%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 5%;
}

button:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

.dots {
    background-color: lightgray;
    margin-right: 15px;
}

@media screen and (max-width: 900px) {
    html {
       font-size: 25px; 
    }

    .card {
        height: 400px;
        width: 300px;
    }

    h3 {
        font-size: 25px;
    }

    .content {
        margin-top: 10%;
        margin-left: 5%;
        align-items: center;
    }

    .box {
        left: 50%;
        top: -10%;
        transform: translateX(-50%);
        height: 25%;
    }

    button {
        font-size: 25px;
    }
}